

.toggle-switch {
    min-width: 180px; /* Ensure it fits "Categorías" */
    height: 35px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    padding: 0 15px;
    box-sizing: border-box;
}

.toggle-switch.on {
    background-color: #0055b1; /* Blue for "on" */
    color: white;
}

.toggle-switch.off {
    background-color: #7ce19a; /* Grey for "off" */
    color: black;
}

.toggle-text {
    text-align: center;
    pointer-events: none;
    white-space: nowrap; /* Prevent wrapping */
    overflow: visible; /* Ensure text is fully visible */
    text-overflow: unset; /* Remove ellipsis */
}

/* Styles for the span element */
.toggle-span {
    flex-direction: row;
    display: flex;
    font-size: 1.5rem; /* Adjusts the font size to be larger */
    font-weight: bold; /* Makes the font bold */
    margin-top: 10px; /* Adds spacing between the toggle switches and the span */
    text-align: center; /* Optional: Centers the text */
  }